@import "vars";

.content {
    a:hover {
        text-decoration: underline;
    }

    ol {
        counter-reset: list;
        padding: 0 30px 0 30px;
    }

    ol > li {
        list-style-position: none;
        position: relative;
        list-style: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    ul {
        padding: 0 20px 0 20px;
    }

    ul > li {
        margin: 5px 0 5px 0;
    }

    ol > li:before {
        content: "[" counter(list, decimal) "] ";
        counter-increment: list;
        position: absolute;
        left: -30px;
    }

    blockquote {
        //border: 1px solid black;
        border-left: 5px solid #333333;
        margin: 20px 0 20px 0;
        padding: 2px 8px 2px 8px;
        font-style: italic;
    }

    /* Profile picture styling */
    .profile-picture {
        height: $image-size;
        width: $image-size;
        position: relative;
        margin: 0 20px 10px 0;   // space to the right & below
        float: left;             // photo on the left, text on the right
        border-radius: 50%;      // circular

        p & {
            padding: 0;
            margin: 0;
        }

        @media (max-width: $small-width) {
            float: none;
            margin: 0 auto 15px auto;
            display: block;
        }
    }

    /* Generic images */
    img {
        text-align: center;
        max-width: 100%;   // let big images shrink, but not stretch
        height: auto;
    }

    /* Explicit size for the profile image */
    img.profile-picture {
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }
}
